/* General Card properties */
.card-modal{
    margin: 30px;
    padding: 25px;
}
.card{
    background-color: #f2f8f9;
    font-family: courier, sans;
    letter-spacing: -1px;
    box-shadow: rgb(0 0 0) -10px 8px 0px;
    overflow:auto;
    border-radius: 0%;
}
.submit-button{
    font-family: courier, sans;
    letter-spacing: -1px;
    background-color: white;
    box-shadow: rgb(0 0 0) -10px 8px 0px;
    border-radius: 0%;
    border: #666666 solid 1px;
}
.submit-button:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    transform: scale(1.025);
}

/* Card Title Section */
.modal-title{
    font-size: large;
    font-weight: 600;
}

/* Label Section */
.label-button{
    border-radius: 0%;
}
/* Card Descritption Section */
.description{
    padding: 20px;
    text-align: left;
}

/* Comment Section */
.comment-username{
    border-bottom: #666666 1px solid;
}

.comment-user{
    font-size: medium;
    font-weight: 700;
    text-align: left;
    text-indent: 15px;
    margin-top: 10px;
}

.comment-text{
    font-size: medium;
    text-align: left;
    text-indent: 35px;
    padding-bottom: 10px;
}

/* Activity Section */
/* activity Button */
