/* General Card properties */
.card-modal {
  margin: 30px;
  padding: 25px;
  width: 80%;
}
.card {
  background-color: #f2f8f9;
  font-family: courier, sans;
  font-weight: 500;
  letter-spacing: -1px;
  box-shadow: rgb(0 0 0) -10px 8px 0px;
  overflow: auto;
  border-radius: 0%;
}
.submit-button {
  font-family: courier, sans;
  letter-spacing: -1px;
  background-color: white;
  box-shadow: rgb(0 0 0) -10px 8px 0px;
  border-radius: 0%;
  border: #666666 solid 1px;
}
.submit-button:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  transform: scale(1.025);
}

.danger {
  color: red;
  font-weight: 700;
  z-index: 100;
}

.add-items {
  margin-bottom: 10px;
}

.save-button {
  margin-left: 25px;
  margin-bottom: 10px;
}
.edit-button {
  margin-bottom: 10px;
}

.close-button {
  margin-left: 20px;
  z-index: -1;
}

.text-input {
  border-radius: 0%;
}
/* Card Title Section */
.modal-title {
  font-size: large;
  font-weight: 600;
}

/* Label Section */
.label-button {
  border-radius: 0%;
  border: 1px solid #666666;
}
.label-input {
  border-radius: 0%;
}
.check-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* Card Descritption Section */
.description {
  padding: 20px;
  text-align: left;
}

/* Comment Section */
.comment-form {
  margin: 10px;
  padding: 20px;
}
.comment-username {
  border-bottom: #666666 1px solid;
}

.comment-title {
  font-size: medium;
  font-weight: 700;
  padding: 5px;
  margin: 0;
}

.comment-user {
  font-size: medium;
  font-weight: 700;
  text-align: left;
  text-indent: 15px;
  margin-top: 10px;
}

.comment-text {
  font-size: medium;
  text-align: left;
  text-indent: 35px;
  padding-bottom: 10px;
}

.comment-update-form {
  display: flex;
  flex-direction: column;
}

.comment-update-text {
  border: none;
  background-color: transparent;
}

/* Activity Section */
/* activity Button */
.activity-button {
  margin: 20px;
}

.activity-log {
  margin: 20px;
  padding: 40px;
  font-weight: 700;
}
